[include]
    path = .gitconfig-base

[include]
    path = .gitconfig-personal

[includeIf "gitdir:~/work/corellium/"]
    path = .gitconfig-corellium

[includeIf "gitdir:~/work/profiq/"]
    path = .gitconfig-profiq
