@import 'oldworld.css';

* {
  font-family: "FiraCode Nerd Font", "FiraCode Nerd Font Mono", monospace;
  font-size: 11px;
}

window#waybar {
  /* background: #080C10;  */

  background: @bgAlpha; /* @bg_dark; */
  color: @fg;
}

.modules-left, .modules-right, .modules-center {
    padding: 1px 2px;
    background: @bg;
}
.modules-center {
    border-left: 2px solid @green;
    border-right: 2px solid @green;
    border-bottom: 2px solid @green;
}
 
.modules-left {
    border-right: 2px solid @blue;
    border-bottom: 2px solid @blue;
}

.modules-right {
    border-left: 2px solid @blue;
    border-bottom: 2px solid @blue;
}


#end-right-module,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#pulseaudio,
#custom-media,
#clock,
#mode,
#idle_inhibitor,
#scratchpad,
#systray,
#mpd {
  padding: 0px 8px;
  color: @fg;
}

@keyframes blink-workspace {
  to {
    color: @fgAlpha;
    font-weight: 800;
  }
}

#workspaces {
  color: @fg;
  transition: all 0.4s ease-out;
  border: 0;
}

#workspaces button {
  padding: .2em .5em;
  color: @fg;
  transition: all 0.4s ease-out;
}

#workspaces button.active {
  background: @cyanAlpha;
  border-radius: .2em;
}

#workspaces button:hover {
  color: @magenta;
  background: @orangeAlpha;
  border-radius: .2em;
}

#workspaces button.empty {
  color: @blue;
}

#pulseaudio {
  padding: 0px 8px;
}

#pulseaudio.muted {
  color: rgba(220, 50, 47, 1);
}

#custom-media {
  min-width: 100px;
}

#custom-media.custom-spotify {
  border: 0.19em solid rgba(46, 204, 113, 1);
}

#custom-media.custom-vlc {
  border: 0.19em solid rgba(255, 160, 0, 1);
}

#backlight {
  padding: 0px 8px 0px 4px;
}

#battery {
  padding: 0px 8px 0px 4px;
}

#battery.charging,
#battery.plugged {
  color: rgba(137, 206, 0, 1);
}

@keyframes blink-battery {
  to {
    color: @fg;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
  color: rgba(255, 193, 0, 1);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#systray {
  border: 0.19em solid @gray0;
  padding: 0px 4px;
}

#tray {
  padding: 0px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @redAlpha;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: rgba(245, 60, 60, 1);
}

#power-profiles-daemon.balanced {
  color: rgba(41, 128, 185, 1);
}

#power-profiles-daemon.power-saver {
  color: rgba(46, 204, 113, 1);
}

#custom-power {
  padding: 0px 6px;
  color: rgba(245, 60, 60, 1);
}
