@import 'oldworld.css';

* {
  font-family: "FiraCode Nerd Font", "FiraCode Nerd Font Mono", monospace;
  font-size: 10px;
}

window#waybar {
  background: @bg; /* @bg_dark; */
  /* border-bottom: 2px solid @red; */
  border: 0;
}

.modules-left, .modules-right, .modules-center {
    padding: 0px 2px;
    background: @bg;
}

.modules-center {
    color: @green;
    /* border-left: 2px solid @green; */
    /* border-right: 2px solid @green; */
    /* border-bottom: 2px solid @green; */
}
 
.modules-left {
    color: @red;
    /* border-right: 2px solid @blue; */
    /* border-bottom: 2px solid @blue; */
}

.modules-right {
    color: @blue;
    /* border-left: 2px solid @blue; */
    /* border-bottom: 2px solid @blue; */
}


#end-right-module,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#pulseaudio,
#custom-media,
#clock,
#mode,
#idle_inhibitor,
#scratchpad,
#systray,
#mpd {
  padding: 0px 8px;
}

#workspaces {
  transition: all 0.4s ease-out;
  border: 0;
}

#workspaces button {
  padding: 0px 0.5em;
  color: @orange;
  transition: all 0.4s ease-out;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#workspaces button.active {
  /* background: @redAlpha; */
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 @red;
}

#workspaces button:hover {
  color: @magenta;
  background: @bg;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 @purple;
}

#workspaces button.empty {
  color: @magenta;
}

#pulseaudio {
  padding: 0px 8px;
}

#pulseaudio.muted {
  color: rgba(220, 50, 47, 1);
}

#custom-media {
  min-width: 100px;
}

#backlight {
  padding: 0px 8px 0px 4px;
}

#battery {
  padding: 0px 8px 0px 4px;
}

#battery.charging,
#battery.plugged {
  color: rgba(137, 206, 0, 1);
}

@keyframes blink-battery {
  to {
    color: @fg;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
  color: rgba(255, 193, 0, 1);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#systray {
  border: 0.19em solid @gray;
  padding: 0px 4px;
}

#tray {
  padding: 0px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @redAlpha;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: rgba(245, 60, 60, 1);
}

#power-profiles-daemon.balanced {
  color: rgba(41, 128, 185, 1);
}

#power-profiles-daemon.power-saver {
  color: rgba(46, 204, 113, 1);
}

#custom-power {
  padding: 0px 6px;
  color: rgba(245, 60, 60, 1);
}
