@import "config.rasi"

/* Override layout to only show the input bar */
mainbox {
    background-color: transparent;
    children:         [ inputbar ];
    spacing:          8px;
}

/* Make sure listview never shows anything / takes space */
listview {
    lines:        0;
    fixed-height: false;
    padding:      0px;
    border:       0px;
}
